/* Style the different sections of the body */
* {
    box-sizing: border-box;
}

/*Style the top navigation bar */
.header {
    background-color: black;
    color: white;
    padding: 5px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

/* Add style to the Left column */
.leftcolumn {
    float: right;
    width: 74%;
    margin-top:-1.5%;
}

/* Style the right column */
.rightcolumn {
    width: 25%;
    padding-left: 20px;
}
/* Style the search box */
#myInput {
    width: 100%;
    font-size: 16px;
    padding: 10px 30px 12px 20px;
    border: 1px solid #ddd;
}

.profilecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin-left: 0%;
    text-align: left;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.profilecard button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: green;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

/* Subsection */
.subsection {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.subsection input[type=submit] {
    background-color: green;
    color: white;
    height: 30px;
    width: 230px;
}
/* Style the username on login */
#displayname{
    color:green;
}
/* Style the date */
#date{
    color:blue;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#adminProductCard{
    float:right;
    margin-right:4.5%;
}

/* Style the main cards containing the written content */
.card {
    background-color: #c7ecea;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer section of the body */
.footer {
    padding: 2px;
    text-align: center;
    background: black;
    margin-top: 20px;
}

.footer h3 {
    color: white;
}

/* Float four columns side by side */
.rowone .column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins caused by the padding */
.rowone {
    margin: 0 -5px;
}

/* Clear the floats after the columns */
.rowone:after {
    content: "";
    display: table;
    clear: both;
}

.cardone img {
    width: 90px;
    height: 80px;
}

/* Style the add to cart button*/
.cardone button {
    background-color: mediumaquamarine;
    border-radius: 30%;
}

/* Style the search box in the right column */
.rightcolumn .card form input[type=text] {
    padding: 6px;
    margin-left: 5%;
    margin-top: 1%;
    font-size: 17px;
    width: 70%;
    border-color: mediumaquamarine;
}

/* Style the search button */
.rightcolumn .card button {
    padding: 6px 10px;
    margin-top: 2px;
    margin-right: 20px;
    color: white;
    background: green;
    font-size: 17px;
    cursor: pointer;
}

.rightcolumn .card button:hover {
    background: mediumaquamarine;
}

/* Add style to the sales record table */
table {
    width: 100%;
    margin-top: 25px;
    margin-left: 1%;
    border-collapse: collapse;
    background-color: white;
}

th {
    background: linear-gradient(white, whitesmoke);
    color: darkgreen;
}

table,
td,
th {
    /*border: 1px solid #ddd;*/
    text-align: left;
}

th,
td {
    padding: 15px;
    width: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.table-footer {
    margin-left: 1%;
    width: 100%;
    height: 50px;
    background: lightgray;
}

#salesfooter {
    width:100%;
}

/* Style the previous button in the table footer */
#prev {
    color: red;
    float: left;
    margin-top: 18px;
    margin-left: 30px;
    background: linear-gradient(lightgrey, whitesmoke);
    padding: 5px 25px;
}

/* Style the next button in the table footer */
#next {
    color: green;
    float: right;
    margin-top: 18px;
    margin-right: 30px;
    padding: 5px 25px;
    background: linear-gradient(lightgrey, whitesmoke);
}

/*Style the text on the about page */
#aboutstore {
    text-align: center;
}

#aboutstore h3 {
    color: green;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }

    #welcome {
        margin-left: 65px;
    }

    .rowone .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    /* Style the dfferent cards containing the content */
    .rowone .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
    }

    .profilecard {
        margin-left: 10%;

    }
}

/*Add responsiveness for a mobile phone device*/
@media only screen and (min-width: 280px) and (max-width: 480px) {

    td,
    th {
        padding: 9px 2px 2px 2px;
        font-size:12px;
    }
    table{
        margin-left:-3%;
    }

    .table-footer {
        width: 100%;
        max-width: 100%;
        height: 50px;
    }

    #prev {
        margin-top: 0px;
        margin-left: 1px;
    }

    #next {
        margin-top: 0px;
        margin-left: 0%;
    }
}
