#inventory {
    overflow-x: auto;
}

#myInput {
    width: 100%;
    font-size: 16px;
    padding: 10px 30px 12px 20px;
    border: 1px solid #ddd;
}
/* Style the inventory */
#attendantinventory{
    float:left;
    width:76.5%;
}
#inventory {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 14px;
}
#productmsg{
    color:red;
    text-align:center;
    margin-top:1%;
}
.productHeading{
    color:green;
    text-align: center;
}
#inventory th,
#inventory td {
    text-align: left;
    padding: 3px;
}

#inventory tr {
    border-bottom: 1px solid #ddd;
}

#inventory tr.header,
#inventory tr:hover {
    background-color: #f1f1f1;
}

.rowone .card {
    width: 130%;
}

/* Style the add to cart button in the table footer */
#add {
    color: blue;
    float: right;
    margin-top: 0px;
    margin-right: 30px;
    padding: 5px 25px;
    background: linear-gradient(lightgrey, whitesmoke);
}


/* Style the total cell in the sales record table */
#total {
    color: red;
}

/* Style the sales record title */
#salestitle {
    text-align: center;
    color: green;
}

/* Style the sales record date*/
#salesdate {
    color: blue;
    text-align: center;
}

/* Style the next button in the table footer of inventory*/
#nextone {
    color: green;
    float: right;
    margin-top: 1px;
    margin-right: 30px;
    padding: 5px 25px;
    background: linear-gradient(lightgrey, whitesmoke);
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    #add {
        margin-top: 14px;
    }

    #inventory {
        border-collapse: collapse;
        width: 30%;
        border: 1px solid #ddd;
        font-size: 13px;
    }

    #inventory th,
    #inventory td {
        text-align: left;
        padding: 6px;
    }

    #inventory tr {
        border-bottom: 0px solid #ddd;
    }

    #inventory img {
        display: none;

    }

    #item {
        display: none;
    }
}

/*Add responsiveness for a mobile phone device*/
@media only screen and (min-width: 280px) and (max-width: 480px) {
    #inventory {
        border-collapse: collapse;
        width: 20%;
        border: 1px solid #ddd;
        font-size: 13px;
    }

    #inventory th,
    #inventory td {
        text-align: left;
        padding: 5px;
    }

    #inventory tr {
        border-bottom: 0px solid #ddd;
    }

    #inventory img {
        display: none;

    }

    #item {
        display: none;
    }

}
